* {
 margin: 0;  
}

#title {
    
}

#lista-tarefas {
    background-color: white;
    width: 60%;
}

#lista-tarefas li {
    border-bottom: outset 0.5px rgb(255, 255, 255);
    line-height: ;
}

.selected {
    background-color: rgb(128, 128, 128);
}

.completed {
    text-decoration: line-through solid rgba(0, 0, 0);
    color: rgba(0, 0, 0, 0.664);
}
